.formulary{
    @extend %disposicion;
    flex-wrap: wrap;
    flex-direction: column;
    margin: nth($size, 4);
}
#login{
    font-family:$font-title;
    font-weight: 600;
    font-size:nth($size, 6) ;
    padding: nth($size, 4) ;
    margin: nth($size, 6); 
}
.subm{
    background-color:$bg_button;
    border-color: $border_button;
    color: black;
    font-family: $font-general;
    font-size: nth($size, 4); 
    font-weight: 600;
}
.txt-login{
    font-family: $font-general;
    font-size: nth($size, 4); 
    font-weight: 600;
}